*.iml
.gradle/
.idea/
local.properties
app/google-services.json
app/src/*/google-services.json
app/release-key.p12
app/build/
build/
captures/
.externalNativeBuild/
.cxx/
keystore.properties
firestore/node_modules/
node_modules/
